<div class="row mt-3">
  <div class="col-12 col-md-3">
    <%= render partial: 'chat_rooms' %>
  </div>

  <div class="col">
    <div class="alert alert-primary">
      <h4 class="alert-heading">Welcome!</h4>
      <p>It's time to chat.</p>
      <hr />
      <p>You can start or join a conversation from the left sidebar.</p>
    </div>
  </div>
</div>
